:root {
  --red: #ff3b30;
  --orange: #ff9500;
  --yellow: #ffcc00;
  --green: #34c759;
  --cyan: #5ac8fa;
  --blue: #007aff;
  --indigo: #5856d6;
  --purple: #af52de;
  --pink: #fc89ac;
  --brown: #a2845e;
  --white: #ffffff;
  --grey: #8e8e93;
  --black: #000000;
}

* {
	box-sizing: border-box;
}
html {
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto;
}
.light body {
	color: black;
}
.dark body {
	color: white;
}


div.left {
	float: left;
	left: 8px;
}
div.right {
	float: right;
	right: 8px;
}
div.top {
	top: 8px;
}
div.bottom {
	bottom: 8px;
}

.card {
	position: absolute;
	padding: 8px;
	border-radius: 4px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.light .card {
	background-color: rgba(255,255,255,0.75);
}
.dark .card {
	background-color: rgba(0, 0, 0, 0.75);
}
.big {
	zoom: 2;
}

#locatorItem > div {
	position: absolute; 
	width: 20px; 
	height: 20px; 
	background-color: #ff0000; 
	border: 1px solid black;
}

#titleItem > .title {
	font-size: 28pt;
}
#titleItem > .subtitle {
	font-size: 12pt;
	padding-left: 8px;
	padding-top: 4px;
}

#metadataItem {
	font-size: 9pt;
	text-align: right;
}

#attributionItem {
	font-size: 9pt;
}

#legendItem .item {
	font-size: 9pt;
	padding-left: 4px;
	vertical-align: middle;
}
#legendItem .title > td {
	padding-bottom: 8px;
}

.dot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid #000000;
	display: inline-block;
}
.line {
	stroke: #000000;
	stroke-width: 2px;
}
.polygon {
	height: 25px;
	width: 25px;
	display: inline-block;
	border: 2px solid #000000;
	border-radius: 0px;
}

#legendItem span.red {
	background-color: var(--red);
}
#legendItem svg.red {
	fill: var(--red);
}
#legendItem span.orange {
	background-color: var(--orange);
}
#legendItem svg.orange {
	fill: var(--orange);
}
#legendItem span.yellow {
	background-color: var(--yellow);
}
#legendItem svg.yellow {
	fill: var(--yellow);
}
#legendItem span.green {
	background-color: var(--green);
}
#legendItem svg.green {
	fill: var(--green);
}
#legendItem span.cyan {
	background-color: var(--cyan);
}
#legendItem svg.cyan {
	fill: var(--cyan);
}
#legendItem span.blue {
	background-color: var(--blue);
}
#legendItem svg.blue {
	fill: var(--blue);
}
#legendItem span.indigo {
	background-color: var(--indigo);
}
#legendItem svg.indigo {
	fill: var(--indigo);
}
#legendItem span.purple {
	background-color: var(--purple);
}
#legendItem svg.purple {
	fill: var(--purple);
}
#legendItem span.pink {
	background-color: var(--pink);
}
#legendItem svg.pink {
	fill: var(--pink);
}
#legendItem span.brown {
	background-color: var(--brown);
}
#legendItem svg.brown {
	fill: var(--brown);
}
#legendItem span.white {
	background-color: var(--white);
}
#legendItem svg.white {
	fill: var(--white);
}
#legendItem span.grey {
	background-color: var(--grey);
}
#legendItem svg.grey {
	fill: var(--grey);
}
#legendItem span.black {
	background-color: var(--black);
}
#legendItem svg.black {
	fill: var(--black);
}
